@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

body {
    background-color: #0E273B ;
    display: flex;
    flex-direction: column;
}

.max-width {
    max-width: 1400px;
    padding: 0 20px;
    margin: auto;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 20px 0;
    background-color: rgb(26, 25, 25, .7);
    /* background: none; */
    border-bottom: solid rgb(59, 59, 59) 2px;

}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    color: rgb(228, 228, 228);
    font-size: 2em;
    font-weight: 500;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: #3ed4b4;
    margin-left: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.menu-btn {
    color: #FFF;
    font-size: 23px;
    cursor: pointer;    
    display: none;
}

.texto-teste {
    color: #FFF;
    margin-bottom: 20px;
}

section {
    padding: 50px 0;
}

@media (max-width: 690px){
    section {
        padding: 20px 0;
    }    
}

.top {
    color: #fff;
    display: flex;
    background: url('../images/tecnologia.jpg') no-repeat center;
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 100vh;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2em;
    z-index: -2;
    
}

#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .7;
    display: flex;
    z-index: -1;
    height: 100vh;
}



.top .max-width {
    width: 100%;
    display: flex;
    color: #0f0f0f;
    z-index: 999;
}

.top .top-content {
    color: #FFF;
}

.top .top-content .text-1 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.top .top-content .text-2 {
    font-size: 1em;
    font-weight: 100;
    margin-bottom: 0.5em;
}

.top .top-content .text-3 {
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 0.5em;
}

.top .top-content .text-4 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.top .top-content a {
    display: inline-block;
    background: #3ed4b4;
    padding: 10px 20px;
    border-radius: 5px;
    align-self:flex-end;
    margin-top: 50px;
    border: 1px solid #3ed4b4;
    transition: all .3s ;
}

.top .top-content a:hover {
    border: 1px solid #3ed4b4;
    background: none;
    color: #353535;
    cursor: pointer;

}

.services {
    color: #fff;
    background-color: #0E273B;
    font-family: 'Montserrat', sans-serif;

}

.services .title {
    text-align: center;
    margin: 40px 0;
    font-weight: 600;
    font-size: 2em;
}

.services .serv-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services .serv-content .card {
    width: calc(33% - 20px);
    background-color: #1A1919;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: all .3s;
    transition: transform .6s;
    margin-bottom: 30px;
}

.services .serv-content .card:hover {
    background-color: #0f0f0f;
    transform: scale(1.1);
}

.services .serv-content .card i{
    font-size: 3em;
    color: #3ed4b4;
    transition: all 0.3s ease-out;
}

.services .serv-content .card:hover i{
    color: #fff;

}

.services .serv-content .card .text {
    margin: 10px;
    font-size: 1em;
    font-weight: bold;
}

.news-form {
    color: #FFF;
}

.right .text {
    margin-bottom: 30px;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.field label {
    text-align: start;
    margin-bottom: 10px;
}

.right input {
    height: 40px;
    outline: none;
    padding: 10px;
    transition: all .3s ease;
}

.right input:focus {
    border-color: #3ed4b4;
}

.news-form .news-title {
    text-align: center;
    margin-bottom: 40px;
}

.news-content {
    display: flex;
    justify-content: space-around;
}

.news-content .left p {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
}

.news-content .left i {
    font-size: 8em;
    margin-bottom: 50px;
    color: #3ed4b4;
}

.column {
    display: flex;
    flex-direction: column;
    width: calc(40% - 20px);
    text-align: center;
    justify-content: center;
}

i .fa-laptop {
    width: 200px;
}

.column .icons i {
    width: 90%;
}

.subject {
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.subject p {
    margin-bottom: 30px;
    text-align: left;

}

.subject .inputs {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.field .item label {
    display: flex;
    text-align: start;
}

textarea {
    width: 100%;
    outline: none;
}

textarea:focus {
    border-color: #3ed4b4;
}

.subject .inputs .item {
    display: flex;
    width: 40%;
    align-items: flex-start;
    margin-bottom: 10px;
    vertical-align: top;
}

.column .inputs .item label {
    margin: 0 10px;
}

.button-area button {
    width: 100%;
    height: 40px;
    border: 0;
    cursor: pointer;
    background-color: #3ed4b4;
    font-size: 1em;
    font-weight: 500;
    transition: all .3s ease;
    border-radius: 5px;
}

.button-area button:hover {
    background-color: aquamarine;
}



footer {
    background-color: #1A1919;
    padding: 25px;
    color: gray;
    text-align: center;
    margin-top: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    border-top: solid rgb(59, 59, 59) 2px;
}

footer span a {
    color: rgb(132, 132, 255);
}

footer span a:hover {
    color: #fff;
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active::before {
        content: "\f00d";
    }

    .navbar .menu {
        background-color: #0f0f0f;
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -99%;
        top: 0;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 13px 0;
        font-size: 25px;

    }
    .max-width {
        max-width: 930px;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
    }

    .news-content {        
        flex-direction: column;
    }

    .news-content .column {
        width: 90%;
        align-self: center;
    }

    .info {
        margin-bottom: 30px;
    }

    .right button {

    }
}

@media (max-width: 690px){
    .services .serv-content .card {
        width: calc(90% - 10px);
    }
}